<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="signup__container">
        <div class="credential__container">
            <div class="signup__logo">
                Logo
                <div>Logo</div>
            </div>
        </div>
    </div>
</body>
</html>